$button-clr--hover: #666ca3;
$primary-dark: #13183f;
$text-primary-clr: #83869a;
$text-light-clr: #fff;
$link-clr: #f74780;
$link-clr--hover: #ffa7c3;

$warm-linear: linear-gradient(#ff6f48, #f02aa6);
$cool-linear: linear-gradient(#ff6f48, #f02aa6);
