// base folder

@import "./base/colors";
@import "./base/typography";

//layout foler

@import "./layout/header";
@import "./layout/hero";

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
