@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");
.heading-XL {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 70px;
}

.heading-L {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 51px;
}

.heading-M {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}

.heading-S {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
}

.body-M {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.body-S {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.btn-getStarted, .footer .footer-container .btn-started--footer, .grids-container .col-6 .text-btn, .grids-container .col-5 .text-btn, .grids-container .col-4 .text-btn, .grids-container .col-3 .text-btn, .grids-container .col-2 .text-btn, .hero .hero-container .btn-linear, .btn-started {
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}
.btn-getStarted:hover, .footer .footer-container .btn-started--footer:hover, .grids-container .col-6 .text-btn:hover, .grids-container .col-5 .text-btn:hover, .grids-container .col-4 .text-btn:hover, .grids-container .col-3 .text-btn:hover, .grids-container .col-2 .text-btn:hover, .hero .hero-container .btn-linear:hover, .btn-started:hover {
  cursor: pointer;
}

.header {
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-started {
  background-color: #13183f;
  padding: 9px 24px;
}
.btn-started:hover {
  background-color: #666ca3;
}

@media (min-width: 768px) {
  .header {
    margin: 24px 40px;
  }
}
@media (min-width: 1440px) {
  .header {
    margin: 24px 165px;
  }
  .btn-started {
    font-size: 18px;
    padding: 14px 31px;
  }
}
.btn-getStarted, .footer .footer-container .btn-started--footer, .grids-container .col-6 .text-btn, .grids-container .col-5 .text-btn, .grids-container .col-4 .text-btn, .grids-container .col-3 .text-btn, .grids-container .col-2 .text-btn, .hero .hero-container .btn-linear, .btn-started {
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}
.btn-getStarted:hover, .footer .footer-container .btn-started--footer:hover, .grids-container .col-6 .text-btn:hover, .grids-container .col-5 .text-btn:hover, .grids-container .col-4 .text-btn:hover, .grids-container .col-3 .text-btn:hover, .grids-container .col-2 .text-btn:hover, .hero .hero-container .btn-linear:hover, .btn-started:hover {
  cursor: pointer;
}

.heading-XL {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 70px;
}

.heading-L {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 51px;
}

.heading-M {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
}

.heading-S {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 28px;
}

.body-M {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.body-S {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.hero {
  margin: 22px 0px 33px 0px;
}
.hero .hero-container {
  margin: 0px 16px 23px 16px;
}
.hero .hero-container h1 {
  margin-bottom: 26px;
  color: #13183f;
}
.hero .hero-container p {
  margin-bottom: 24px;
  color: #83869a;
}
.hero .hero-container .btn-linear {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 15px 37px;
}
.hero .hero-container .btn-linear:hover {
  opacity: 0.5;
}
.hero .hero-img .hero-img--tablet,
.hero .hero-img .hero-img--desktop {
  display: none;
}

@media (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    margin: 75px 0px 93px 0px;
  }
  .hero .hero-container {
    margin: 0px 39px 0px 39px;
  }
  .hero .hero-img {
    width: 100%;
  }
  .hero .hero-img .hero-img--mobile,
.hero .hero-img .hero-img--desktop {
    display: none;
  }
  .hero .hero-img .hero-img--tablet {
    display: block;
    width: 640px;
    position: absolute;
    z-index: -1;
    top: -95px;
    right: -280px;
  }
}
@media (min-width: 1440px) {
  .hero {
    margin: 120px 0px 113px 0px;
  }
  .hero .hero-container {
    margin-left: 165px;
  }
  .hero .hero-container h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .hero .hero-container p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  .hero .hero-img .hero-img--mobile,
.hero .hero-img .hero-img--tablet {
    display: none;
  }
  .hero .hero-img .hero-img--desktop {
    display: block;
    width: 992px;
    position: absolute;
    z-index: -1;
    top: -180px;
    right: -340px;
  }
}
.btn-getStarted, .footer .footer-container .btn-started--footer, .grids-container .col-6 .text-btn, .grids-container .col-5 .text-btn, .grids-container .col-4 .text-btn, .grids-container .col-3 .text-btn, .grids-container .col-2 .text-btn, .btn-started, .hero .hero-container .btn-linear {
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}
.btn-getStarted:hover, .footer .footer-container .btn-started--footer:hover, .grids-container .col-6 .text-btn:hover, .grids-container .col-5 .text-btn:hover, .grids-container .col-4 .text-btn:hover, .grids-container .col-3 .text-btn:hover, .grids-container .col-2 .text-btn:hover, .btn-started:hover, .hero .hero-container .btn-linear:hover {
  cursor: pointer;
}

.grids-container {
  margin: -60px 16px 0 16px;
  display: grid;
  grid-template-areas: "1" "2" "3" "4" "5" "6";
  gap: 40px;
}
.grids-container .col-1 {
  grid-area: "1";
  width: 343px;
  height: 120px;
  margin: 0 auto;
  border-radius: 10px;
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 24px 28px 32px 28px;
}
.grids-container .col-1 p {
  color: #fff;
  line-height: 32px;
}
.grids-container .col-2 {
  grid-area: "${i}";
  width: 343px;
  position: relative;
  margin: 0 auto;
  padding: 56px 28px 32px 28px;
  border-radius: 10px;
  background-color: #fff;
}
.grids-container .col-2 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: #13183f;
  margin-bottom: 16px;
}
.grids-container .col-2 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
  margin-bottom: 24px;
}
.grids-container .col-2 .text-btn {
  color: #f74780;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
}
.grids-container .col-2 .text-btn:hover {
  opacity: 0.5;
}
.grids-container .col-2 img {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -24px;
  left: 28px;
}
.grids-container .col-3 {
  grid-area: "${i}";
  width: 343px;
  position: relative;
  margin: 0 auto;
  padding: 56px 28px 32px 28px;
  border-radius: 10px;
  background-color: #fff;
}
.grids-container .col-3 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: #13183f;
  margin-bottom: 16px;
}
.grids-container .col-3 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
  margin-bottom: 24px;
}
.grids-container .col-3 .text-btn {
  color: #f74780;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
}
.grids-container .col-3 .text-btn:hover {
  opacity: 0.5;
}
.grids-container .col-3 img {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -24px;
  left: 28px;
}
.grids-container .col-4 {
  grid-area: "${i}";
  width: 343px;
  position: relative;
  margin: 0 auto;
  padding: 56px 28px 32px 28px;
  border-radius: 10px;
  background-color: #fff;
}
.grids-container .col-4 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: #13183f;
  margin-bottom: 16px;
}
.grids-container .col-4 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
  margin-bottom: 24px;
}
.grids-container .col-4 .text-btn {
  color: #f74780;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
}
.grids-container .col-4 .text-btn:hover {
  opacity: 0.5;
}
.grids-container .col-4 img {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -24px;
  left: 28px;
}
.grids-container .col-5 {
  grid-area: "${i}";
  width: 343px;
  position: relative;
  margin: 0 auto;
  padding: 56px 28px 32px 28px;
  border-radius: 10px;
  background-color: #fff;
}
.grids-container .col-5 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: #13183f;
  margin-bottom: 16px;
}
.grids-container .col-5 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
  margin-bottom: 24px;
}
.grids-container .col-5 .text-btn {
  color: #f74780;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
}
.grids-container .col-5 .text-btn:hover {
  opacity: 0.5;
}
.grids-container .col-5 img {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -24px;
  left: 28px;
}
.grids-container .col-6 {
  grid-area: "${i}";
  width: 343px;
  position: relative;
  margin: 0 auto;
  padding: 56px 28px 32px 28px;
  border-radius: 10px;
  background-color: #fff;
}
.grids-container .col-6 h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 25.2px;
  color: #13183f;
  margin-bottom: 16px;
}
.grids-container .col-6 p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #83869a;
  margin-bottom: 24px;
}
.grids-container .col-6 .text-btn {
  color: #f74780;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
}
.grids-container .col-6 .text-btn:hover {
  opacity: 0.5;
}
.grids-container .col-6 img {
  position: absolute;
  width: 56px;
  height: 56px;
  top: -24px;
  left: 28px;
}

@media (min-width: 768px) {
  .grids-container {
    grid-template-areas: "1 2" "3 4" "5 6";
    margin: 0px 40px 0 40px;
    padding-top: 60px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 32px;
  }
  .grids-container .col-1 {
    width: 339px;
    min-height: 287.2px;
    padding-top: 56px;
    padding-left: 32px;
  }
  .grids-container .col-2 {
    width: 339px;
  }
  .grids-container .col-2 p {
    height: 104px;
  }
  .grids-container .col-3 {
    width: 339px;
  }
  .grids-container .col-3 p {
    height: 104px;
  }
  .grids-container .col-4 {
    width: 339px;
  }
  .grids-container .col-4 p {
    height: 104px;
  }
  .grids-container .col-5 {
    width: 339px;
  }
  .grids-container .col-5 p {
    height: 104px;
  }
  .grids-container .col-6 {
    width: 339px;
  }
  .grids-container .col-6 p {
    height: 104px;
  }
}
@media (min-width: 1440px) {
  .grids-container {
    grid-template-areas: "1 2 3" "4 5 6";
    margin: 0px 165px 140px 165px;
    padding-top: 170px;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 56px;
  }
  .grids-container .col-1 {
    width: 339px;
    min-height: 336.23px;
    padding-top: 64px;
    padding-left: 32px;
  }
  .grids-container .col-1 p {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
  }
  .grids-container .col-2 {
    width: 350px;
  }
  .grids-container .col-2 h3 {
    font-size: 24px;
    line-height: 30.24px;
    margin-bottom: 24px;
  }
  .grids-container .col-2 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 52px;
    height: 112px;
  }
  .grids-container .col-3 {
    width: 350px;
  }
  .grids-container .col-3 h3 {
    font-size: 24px;
    line-height: 30.24px;
    margin-bottom: 24px;
  }
  .grids-container .col-3 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 52px;
    height: 112px;
  }
  .grids-container .col-4 {
    width: 350px;
  }
  .grids-container .col-4 h3 {
    font-size: 24px;
    line-height: 30.24px;
    margin-bottom: 24px;
  }
  .grids-container .col-4 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 52px;
    height: 112px;
  }
  .grids-container .col-5 {
    width: 350px;
  }
  .grids-container .col-5 h3 {
    font-size: 24px;
    line-height: 30.24px;
    margin-bottom: 24px;
  }
  .grids-container .col-5 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 52px;
    height: 112px;
  }
  .grids-container .col-6 {
    width: 350px;
  }
  .grids-container .col-6 h3 {
    font-size: 24px;
    line-height: 30.24px;
    margin-bottom: 24px;
  }
  .grids-container .col-6 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 52px;
    height: 112px;
  }
}
.btn-getStarted, .footer .footer-container .btn-started--footer, .btn-started, .hero .hero-container .btn-linear, .grids-container .col-2 .text-btn, .grids-container .col-3 .text-btn, .grids-container .col-4 .text-btn, .grids-container .col-5 .text-btn, .grids-container .col-6 .text-btn {
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}
.btn-getStarted:hover, .footer .footer-container .btn-started--footer:hover, .btn-started:hover, .hero .hero-container .btn-linear:hover, .grids-container .col-2 .text-btn:hover, .grids-container .col-3 .text-btn:hover, .grids-container .col-4 .text-btn:hover, .grids-container .col-5 .text-btn:hover, .grids-container .col-6 .text-btn:hover {
  cursor: pointer;
}

.footer {
  margin-top: 80px;
  background-color: #13183f;
}
.footer .footer-container {
  padding: 36px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .btn-started--footer {
  background-image: linear-gradient(#4851ff, #f02aa6);
  padding: 9px 24px 11px 24px;
}
.footer .footer-container .btn-started--footer:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .footer {
    margin-top: 86px;
  }
  .footer .footer-container {
    padding: 36px 40px;
  }
}
@media (min-width: 1440px) {
  .footer {
    margin-top: 140px;
  }
  .footer .footer-container {
    padding: 36px 165px;
  }
  .footer .footer-container .btn-started--footer {
    font-size: 18px;
    padding: 14px 32px;
  }
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(#fff 50%, rgba(198, 201, 239, 0.7254901961) 100%);
}

img {
  width: 100%;
  height: auto;
  display: block;
}/*# sourceMappingURL=main.css.map */